@model Jewelery.ViewModels.DTO.Product.ProductDTOVMPage;
@{
    string Category = (string)ViewData["Category"];
    string SubCategory = ViewData["SubCategory"] != null ? (string)ViewData["SubCategory"] : null;
}



<script src="~/lib/fancybox/dist/fancybox/fancybox.umd.js"></script>

<link rel="stylesheet" href="~/lib/fancybox/dist/fancybox/fancybox.css" />

<script src="~/js/ProductPage/FancyAppProduct.js"></script>

<link rel="stylesheet" href="~/scss/ProductStyle.css" />

<script src="~/js/ProductPage/OptionChooser.js"></script>
<script src="~/js/ProductPage/AddProductToCart.js"></script>






<div class="Product">
    <div class="BreadCrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Catalog</a></li>
                @if (@SubCategory != null && @SubCategory != "")
                {
                    <li class="breadcrumb-item"><a href="#">@Category</a></li>
                    <li class="breadcrumb-item"><a href="#">@SubCategory</a></li>
                    <li class="breadcrumb-item " aria-current="page" active>@Model.Name</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="#">@Category</a></li>
                    <li class="breadcrumb-item " aria-current="page" active>@Model.Name</li>
                }
            </ol>
        </nav>
    </div>
    <div class="Main">
        <div class="ImageList">
            @foreach(var image in Model.Images)
            {
                <a class="FancyBoxImg" href="@image.Url" data-fancybox="gallery" data-caption="@image.Alt_text">
                    <img src="@image.Url"/>
                </a>
            }     
        </div>
        <div class="ProductDetail">
            <div hidden>
                <input id="ProductId" type="text" value="@Model.Product_id" />
            </div>
            <div class="ProductName">
                <h1>@Model.Name</h1>
            </div>
            <div class="Articul">
                <p>
                    <span>@Model.Articul</span>
                    <span>|</span>
                    @if (Model.isExist)
                    {
                        <span>isExist</span>
                    }else
                    {
                        <span>isNotExist</span>
                    }
                </p>
            </div>
            <div class="Price">
                <p data-baseprice="@Model.Price"></p>
            </div>
            <div class="AtributeContainer">
                @for (int index = 0; index < Model.Attributes.Count(); index++)
                {
                    <div class="Atribute" id="AtributeIndex_@index" data-atributeid="@Model.Attributes[index].Atribute_id">
                        <div hidden>
                            <input class="OptionId" name="OptionId" value="@Model.Attributes[index].Options[0].Option_id">
                        </div>
                        <h3>
                            Виберіть розмір:
                        </h3>                      
                        <div class="OptionContainer">
                            <div class="Options" id="OptionsOfAtribute_@index">
                                @for (int indexOpt = 0; indexOpt < Model.Attributes[index].Options.Count(); indexOpt++)
                                {
                                    <a href="#" id="OptionForAtribute_[@index]_Option[@indexOpt]" type="button" data-optionid="@Model.Attributes[index].Options[indexOpt].Option_id" data-adjustment="@Model.Attributes[index].Options[indexOpt].PriceAdjustment" class="OptionChangeButton">@Model.Attributes[index].Options[indexOpt].Size @Model.Attributes[index].Unit</a>
                                }
                            </div>
                            @if (Model.Attributes[index].DetermineTheSize_Id != null)
                            {
                                @await Component.InvokeAsync("DetermineSizeForProductViewPage", new { id = @Model.Attributes[index].DetermineTheSize_Id.Value })
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="BuyButtonContainer" data-url="@Url.Action("AddProductToCart","Cart")">
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Customer"))
                {
                    <div class="BuyContainer">
                        <a href="#" id="NotBuyButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PurchareModal">Buy</a>
                    </div>

                }
                else
                {
                    <div class="BuyContainer">
                        <a href="#" id="BuyButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PurchareModal">Buy</a>
                    </div>
                }              
                <div class="WishContainer">
                    <a href="#"> Add to wish List</a>
                </div>
            </div>
            <div class="ProductDescription">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                Describe Product
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse show" data-bs-parent="#accordionFlushExample" >
                            <div class="accordion-body">
                               @Model.Description 
                            </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Video View
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Here Video
                             </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                packge
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Here Package of Product
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- Modal -->
    <div class="modal fade" id="PurchareModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a>To cart</a>
                    <a>Continue sell</a>

                </div>                
            </div>
        </div>
    </div>

    <script>
        Fancybox.bind('[data-fancybox]', {
            // Your custom options
        });
    </script>
